<template >
<input ref="owntypeahead" v-bind:value="value"
       v-bind:placeholder="placeholder"
       v-on:input="updateValue($event.target.value)" />
</template>

<script>
function getSource (url) {
  let queryUrl = url.indexOf('?') === -1 ? `${url}?q=%Q` : `${url}&q=%Q`
  return new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(self.display),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: { cache: false, url },
    remote: { url: queryUrl, wildcard: '%Q' }
  })
}

export default {
  name: 'vue-own-typeahead',
  props: [
    'value',
    'placeholder',
    'display',
    'url',
    'suggestion',
    'multiple'
  ],
  data: function () {
    return { mydata: '' }
  },
  methods: {
    updateValue: function (val) {
      this.$emit('change', val)
      this.$emit('input', val)
    }
  },
  mounted: function () {
    let input = $(this.$refs.owntypeahead)
    let datasets = null
    
    if (this.multiple) {
      datasets = []
      this.multiple.forEach(data => {
        let x = JSON.parse(JSON.stringify(data))
        x.source = getSource(x.source)
        x.templates.suggestion = Handlebars.compile(x.templates.suggestion)
        datasets.push(x)
      })
    } else {
      datasets = {
        display: this.display,
        source: getSource(this.url),
        limit: 10,
        templates: {
          empty: `\
<div class="empty-message">No se encontró resultados</div>`,
          suggestion: Handlebars.compile(this.suggestion)
        }
      }
    }
    
    let typeahead = input.typeahead(null, datasets)
    typeahead.on('typeahead:select', (ev, suggestion) => {
      this.$emit('select', suggestion)
    })
  }
}
</script>
